<cx-page-body [style.margin-block.px]="20" [style.margin-inline]="'auto'" [style.width.%]="50">
  <h2 class="hor-center">注册</h2>
  <p class="hor-center mb-40" [style.color]="'#d9d9d9'">新用户注册</p>
  <cx-form
    [cxFormSchema]="formSchema"
    [cxInitValue]="{ phonePrefix: 86 }"
    (submit)="submitForm($event)"
    [cxAgreement]="agreement"
    (valueChange)="handleValueChange($event)"
    cxSubmit="注册"
  >
  </cx-form>

  <ng-template #phonePrefixFormItemCtrl let-formGroup>
    <div [formGroup]="formGroup">
      <nz-select formControlName="phonePrefix" [style.width.px]="80">
        <nz-option nzLabel="+86" [nzValue]="86"></nz-option>
      </nz-select>
    </div>
  </ng-template>

  <ng-template #sendSmsVerifyCodeButton>
    <button nz-button (click)="getCaptcha($event)">获取验证码</button>
  </ng-template>

  <div class="flexable --justify-flex-end">已有帐号？ <a href="/auth/login">立即登录</a></div>
</cx-page-body>
